<mat-toolbar  color="warn">
  <div (loginEvent)="verifyUser()" class="barraApp">
    <div class="sezLogo">
      <span routerLinkActive="active" routerLink="">Sebastian Lazzeri</span>
    </div>
    <div class="sezButtons">
      <button mat-button routerLinkActive="active" color="accent" routerLink="/lista">Blog</button>
      <!--<button mat-button routerLinkActive="active" color="accent" routerLink="/portfolio">Portfolio</button>-->
    </div>
    <div class="sezAccess">
      <span>{{user}}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu"color="primary">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
      <button mat-menu-item routerLinkActive="active" routerLink="/add">Nuovo Articolo</button>
      <button mat-menu-item (click)="openLoginDialog('0ms','0ms')">Login</button>
      <button mat-menu-item (click)="openRegisterDialog('0ms','0ms')">Register</button>
      <!--<button mat-menu-item (click)="login()">Login</button>-->
</mat-menu>
    </div>
  </div>
</mat-toolbar>

