<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="form-container">
  <div>
  <mat-label>{{error}}</mat-label>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your Password</mat-label>
    <input matInput placeholder="password" [formControl]="password" required>
    <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <button mat-button type="submit" >Registrati!</button>
</div>
</form>
