<ng-container *ngIf="afAuth.authState | async as state">

  <div class="profile">
    <div id="avatar">
      <app-immagine #img *ngIf="state.photoURL" [imgPath]="state.photoURL" [l]="300" [h]="200"> </app-immagine>
      <label>Selezionare per cambiare immagine</label>
      <input type="file" #inputFile  (change)="uploadFile($event,inputFile.value)">
    </div>
    <mat-form-field>
      <mat-label>Nome utente</mat-label>
      <input matInput type="text" [(ngModel)]="name" >
    </mat-form-field>
    <mat-form-field>
      <mat-label>email</mat-label>
      <input matInput type="text" [(ngModel)]="state.email" disabled >

    </mat-form-field>
    <button mat-button (click)="saveProfile()"><mat-icon>save</mat-icon></button>

  </div>

</ng-container>
