<mat-tab-group animationDuration="0ms" >
  <mat-tab label="Bozze" id="lblBozze">
    <table mat-table [dataSource]="userArts" class="mat-elevation-z8">

      <ng-container matColumnDef="titolo">
        <th mat-header-cell *matHeaderCellDef> titolo </th>
        <td mat-cell *matCellDef="let element"> {{element['titolo']}} </td>
      </ng-container>
      <ng-container matColumnDef="autore">
        <th mat-header-cell *matHeaderCellDef> autore </th>
        <td mat-cell *matCellDef="let element"> {{element['autore']}} </td>
      </ng-container>
      <ng-container matColumnDef="dataCreazione">
        <th mat-header-cell *matHeaderCellDef> Creato il </th>
        <td mat-cell *matCellDef="let element"> {{element['dataCreazione']}} </td>
      </ng-container>
      <ng-container matColumnDef="azioni">
        <th mat-header-cell *matHeaderCellDef> Azioni </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="fill">
            <mat-label>Pubblica in:</mat-label>
            <select matNativeControl required [(ngModel)]="pos">
                <option value="h1">HeadLines</option>
                <option value="h2">Spalla</option>
                <option value="h3">HeadCategoria</option>
                <option value="p">Categorie</option>
            </select>

            </mat-form-field>
            <button mat-mini-fab (click)="pubblicaArticolo(element)">
                <mat-icon>check</mat-icon>
            </button>
            <button mat-mini-fab >
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab >
              <mat-icon>read_more</mat-icon>
            </button>
            <button mat-mini-fab >
              <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>

  </mat-tab>
  <mat-tab label="Articoli Pubblicati" id="lblPubb">
  <table mat-table [dataSource]="userPubb" class="mat-elevation-z8">

    <ng-container matColumnDef="titolo">
      <th mat-header-cell *matHeaderCellDef> titolo </th>
      <td mat-cell *matCellDef="let element"> {{element['titolo']}} </td>
    </ng-container>
    <ng-container matColumnDef="autore">
      <th mat-header-cell *matHeaderCellDef> autore </th>
      <td mat-cell *matCellDef="let element"> {{element['autore']}} </td>
    </ng-container>
    <ng-container matColumnDef="dataCreazione">
      <th mat-header-cell *matHeaderCellDef> Creato il </th>
      <td mat-cell *matCellDef="let element"> {{element['dataCreazione']}} </td>
    </ng-container>
    <ng-container matColumnDef="azioni">
      <th mat-header-cell *matHeaderCellDef> Azioni </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field appearance="fill">
          <mat-label>Pubblicato in:</mat-label>
          <input matInput type="text" disabled [value]="element['pos']">

          </mat-form-field>
          <button mat-mini-fab (click)="ritiraArticolo(element)">
              <mat-icon>remove</mat-icon>
          </button>
          <button mat-mini-fab >
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-mini-fab >
            <mat-icon>read_more</mat-icon>
          </button>
          <button mat-mini-fab >
            <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</mat-tab>

</mat-tab-group>
