<mat-card class="card">
  <mat-card-header>
    <!--<div mat-card-avatar class="header-image"></div>-->
    <mat-card-title><h2>{{data.titolo}}<sub>&nbsp;-by-{{data.autore}}&nbsp;il&nbsp;{{data.dataCreazione | date: 'yyyy-MM-dd'}}</sub></h2></mat-card-title>
    <mat-card-subtitle>{{data.descrizione}}</mat-card-subtitle>
    <!--<mat-card-subtitle>{{data.dataCreazione}}</mat-card-subtitle>-->
  </mat-card-header>
  <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <div id="img">
    <app-immagine [l]="300" [imgPath]="data.imgUrl"></app-immagine>
  </div>
 <!-- <mat-card-content>
    {{data.corpo}}
  </mat-card-content>-->
  <mat-card-actions>
    <!--<button mat-icon-button color="warn" (click)="deleteArticolo()"><mat-icon>delete</mat-icon></button>
    <button mat-icon-button color="primary" (click)="updateArticolo()"><mat-icon>edit_square</mat-icon></button>-->
    <button mat-fab (click)="mostraArticolo()"><mat-icon>read_more</mat-icon></button>
  </mat-card-actions>
</mat-card>

