#card{
  display:flex;
  flex-wrap: wrap;
  width:580px;
  align-items: flex-start;
  //background-color: aquamarine;
  /*#img{

  }*/
  #sezione{
    box-sizing: border-box;
    padding:5px;
    height: 200px;
    width:300px;
    overflow: hidden;
    //background-color: aqua;
  #titolo{
    width:300px;
  }
  #corpo{
    overflow: hidden;
    width:300px;
    height: 200px;
  }
}
}
