.card {
  width: 320px;
  height: 400px;
  app-immagine{
    max-width:300px;
    max-height:200px;
    margin:0 auto;
  }
}

/*.header-image {
  //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  //background-size: cover;
}*/
