<app-header></app-header>
<div class="head-lights">
</div>
<!--<h2>{{cat.nome}}</h2>

    <ng-container *ngFor="let art of articoli">

          <app-card-articolo *ngIf="art.categoria==cat.nome" [cat]="cat.nome" [data]="art"></app-card-articolo>

    </ng-container>
    <mat-paginator #paginator class="paginator" (page)="handlePageEvent($event)" [length]="length"
      [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
      [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>-->
<div class="list-group">
  <!--<mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>-->
  <mat-tab-group>
  <mat-tab class="group-container" *ngFor="let cat of categorie" [label]="cat.nome">
    <h2>{{cat.nome}}</h2>
    <mat-selection-list #art_sel [multiple]="false">
      <ng-container *ngFor="let art of articoli">
        <mat-list-option  *ngIf="art.categoria==cat.nome" [value]="art.id">
           {{art.titolo}}

        </mat-list-option >



     </ng-container>
  </mat-selection-list>


    <div *ngIf="art_sel.selectedOptions.hasValue()">
        <div *ngFor="let art of articoli">
          <div *ngIf="art_sel.selectedOptions.selected[0].value==art.id">
            <div>
              <h2>{{art.titolo}}&nbsp;<button><mat-icon color="primary">read_more</mat-icon></button></h2>
              <h3>{{art.descrizione}}</h3>
              <app-immagine [imgPath]="art.imgUrl"></app-immagine>
            </div>
            <div style="overflow: hidden;">
              <p>
                {{art.corpo}}
              </p>

            </div>

          </div>

        </div>

    </div>

  </mat-tab>
</mat-tab-group>
</div>
