<app-header></app-header>
<div class="articoli-gruppo">
<mat-card class="articolo-card" *ngFor="let articolo of articoli | async; index as i;" >

  <mat-card-header>

    <mat-card-title>{{articolo.titolo}}</mat-card-title>

  </mat-card-header>

  <!--<div *ngIf="articolo.imgUrl; else elseBlock">
    <img mat-card-image [src]="articolo.imgUrl">
  </div>
  <ng-template #elseBlock><img mat-card-image src="../../../assets/img/ph1.jpg"></ng-template>
-->

  <!--<img ()="getDownloadURL(articolo.imgUrl)" [src]="profileUrl | async">-->

 <app-immagine fPath="old"></app-immagine>

  <mat-card-content>
    <p>{{articolo.corpo}}</p>
  </mat-card-content>

  <mat-card-actions class="course-actions">

    <button (click)="openArticolo(articolo.id)" mat-button class="mat-raised-button mat-primary" >
     LEGGI
    </button>

    <ng-container>
      <ng-container>
        <button mat-button class="mat-raised-button mat-accent">
          EDIT
        </button>
        <button mat-mini-fab color="warn" (click)="delArticolo(articolo.id)" >
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
    </ng-container>

  </mat-card-actions>

</mat-card>
</div>
